<router-outlet></router-outlet>
<div [hidden]="checkChildren()">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="patientIdPatient">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Patient</th>
        <td mat-cell *matCellDef="let row">{{row.patientIdPatient}}</td>
      </ng-container>
      <ng-container matColumnDef="patientFirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
        <td mat-cell *matCellDef="let row">{{row.patientFirstName}}</td>
      </ng-container>
      <ng-container matColumnDef="patientLastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
        <td mat-cell *matCellDef="let row">{{row.patientLastName}}</td>
      </ng-container>

      <ng-container matColumnDef="idVitalSign">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Signs</th>
        <td mat-cell *matCellDef="let row">{{row.idVitalSign}}</td>
      </ng-container>
      <ng-container matColumnDef="signDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>signDate</th>
        <td mat-cell *matCellDef="let row">{{row.signDate}}</td>
      </ng-container>
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>temperature</th>
        <td mat-cell *matCellDef="let row">{{row.temperature}}</td>
      </ng-container>
      <ng-container matColumnDef="pulse">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>pulse</th>
        <td mat-cell *matCellDef="let row">{{row.pulse}}</td>
      </ng-container>
      <ng-container matColumnDef="respiratory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>respiratory</th>
        <td mat-cell *matCellDef="let row">{{row.respiratory}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
            <button mat-button color="primary" [routerLink]="['edit', row.idVitalSign]">
                <mat-icon>mode_edit</mat-icon>
            </button>
            <button mat-button color="accent" (click)="delete(row.idVitalSign)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <button mat-fab color="accent" style="float: right" routerLink="/pages/sign/new">
    <mat-icon>add</mat-icon>
  </button>
</div>
