<div>
    <mat-form-field>
        <input matInput placeholder="FirstName" [(ngModel)]="medic.firstName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="LastName" [(ngModel)]="medic.lastName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="CMP" [(ngModel)]="medic.cmp" max="15" maxlength="15" type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Photo" [(ngModel)]="medic.photoUrl">
    </mat-form-field>
    <img mat-card-image [src]="medic.photoUrl" alt="" width="50%" height="50%" *ngIf="medic.photoUrl">
</div>
<button mat-raised-button color="primary" (click)="operate()">Done</button>
<button mat-raised-button color="accent" (click)="close()">Cancel</button>
